VITE_API_BASE_URL=/api
VITE_API_PROXY_TARGET=https://csdq8anoqk.execute-api.ap-northeast-1.amazonaws.com/dev
VITE_APP_STAGE=dev
VITE_AWS_REGION=ap-northeast-1
VITE_COGNITO_DOMAIN=qmap-dev
VITE_COGNITO_CLIENT_ID=hu7sci88c77tphc38thskdtvj
VITE_COGNITO_REDIRECT_URI=https://q-map-nine.vercel.app/
