# Staging environment for Vite frontend
VITE_API_BASE_URL=https://f9lgucye4d.execute-api.ap-northeast-1.amazonaws.com/stg
VITE_APP_STAGE=stg
VITE_COGNITO_USER_POOL_ID=ap-northeast-1_HqW9zIMEs
VITE_COGNITO_CLIENT_ID=11didjj5fj1e09v7l1qsd9p4ht
VITE_COGNITO_DOMAIN=qmap-qmap-stg.auth.ap-northeast-1.amazoncognito.com
