# Production environment for Vite frontend
VITE_API_BASE_URL=https://4s9u0m4qqh.execute-api.ap-northeast-1.amazonaws.com/prod
VITE_APP_STAGE=prod
VITE_COGNITO_USER_POOL_ID=ap-northeast-1_FBspriqA4
VITE_COGNITO_CLIENT_ID=2abc2a87nrgd9elom60k609054
VITE_COGNITO_DOMAIN=qmap-qmap-prod.auth.ap-northeast-1.amazoncognito.com
