# Dev environment for Vite frontend
VITE_API_BASE_URL=https://14z0sascyi.execute-api.ap-northeast-1.amazonaws.com/dev
VITE_APP_STAGE=dev
VITE_COGNITO_USER_POOL_ID=ap-northeast-1_gVMXb6uCj
VITE_COGNITO_CLIENT_ID=29cvjr5vsgkf52l735gadvev6c
VITE_COGNITO_DOMAIN=qmap-qmap-dev.auth.ap-northeast-1.amazoncognito.com
