stage           = "prod"
region          = "ap-northeast-1"
callback_urls   = ["https://q-map-prod.vercel.app/callback"]
logout_urls     = ["https://q-map-prod.vercel.app/logout"]
allowed_origins = ["https://q-map-prod.vercel.app"]
