stage           = "prod"
region          = "ap-northeast-1"
callback_urls   = ["https://main.d3c16q2d8f1ppt.amplifyapp.com/callback"]
logout_urls     = ["https://main.d3c16q2d8f1ppt.amplifyapp.com/logout"]
allowed_origins = ["https://main.d3c16q2d8f1ppt.amplifyapp.com"]
